*{
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}


/*box-1*/

.navbar{
    height: 60px;
    background-color: #131921; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url('img/amazon_logo.webp');
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/*box-2*/

.add-icon{
    display:flex;
    align-items: center;
}

.add-frist{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
font-size: 1rem;
margin-left: 3px;
}

/*box-3*/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(249, 171, 75);
    color: #0f1110;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

option{
   background-color: white;
   text-align: left;
   font-size: 1rem;
}

.nav-search:hover{
    border: 2px solid rgb(249, 171, 75);
}

/*box-4*/

.language-selector {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .flag-icon {
    width: 20px;
    height: 14px;
    margin-right: 5px;
  }
  
  .language-selector .arrow {
    margin-left: 4px;
    font-size: 10px;
  }


  /*box-5*/

  span{
    font-size: 0.7rem;
  }

  .nav-second{
    font-size: 0.85rem;
    font-weight: 700;
  }

 /*box-7*/

 .nav-cart i{
   font-size: 29px;
 }

 .nav-cart{
    font-size:0.85rem;
    font-weight: 700;
 }

 /*panel*/

 .panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
 }

 .panel-ops p{
    display: inline;
    margin-left: 15px;
    border: 1px solid transparent;
 }
 
 .panel-ops{
    width: 70%;
    font-size: 0.85rem;
 }

 .panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
 }


 /*hero-section*/

 .hero-section{
    background-image: url("img/hero_image.webp");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .hero-msg{
    background-color:white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.90rem;
    font-weight: 300;
    width: 98%;
    margin-bottom: 25px;
 }

 .hero-msg a{
    color: #007185;
    text-decoration: none;
 }

 /*shop-section*/
 
 .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #c1c9c7;
    /*background-image: linear-gradient(180deg, #051e8b 0%, #fbfdff 100%);*/
 }
 
 .box{
  /*border: 2px solid black;*/
   height: 400px;
   width: 23%;
   background-color: white;
   padding: 20px 0px 15px;
   margin-top: 15px;
   margin-bottom: 15px;
 }

 .box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }

 .box-content a{
    text-decoration: none;
    color: #007185;
 }

 .box-content a:hover{
    color: brown;
 }

 /*footer*/

/*
footer:15px;
*/

 .foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
 }

 .foot-panel2{
  background-color:#222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;

 }

 ul{
    margin-top: 15px;
 }

 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover{
    color: white;
    text-decoration: underline;
}

.foot-panel3{
   background-color: #222f3d;
   color: white;
   border-top: 0.5px solid #757474;
   height: 70px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.logo{
   background-image: url("img/amazon_logo.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/*Extra*/
 
 /*.selector-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }
 
 .selector-box {
   display: flex;
   align-items: center;
   background-color: #37475a;
   border: 1px solid #8497a6;
   border-radius: 4px;
   color: white;
   padding: 6px 10px;
   font-family: Arial, sans-serif;
   font-size: 13px;
   cursor: pointer;
 }
 
 .selector-box .icon {
   margin-right: 6px;
 }
 
 .selector-box .arrow {
   margin-left: 6px;
 }
 
 .flag {
   width: 18px;
   height: 12px;
   margin-right: 6px;
   object-fit: cover;
 }*/


/*foot-panel-4*/

 .foot-panel4{
  background-color:#131921;
  color: #dddddd;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
 }

 .pages{
   padding-top: 25px;
 }

 .pages a:hover{
   color: white;
   text-decoration: underline;
 }

 .copyright{
   padding-top: 5px;
 }

 .copyright p:hover{
   color: white;
   text-decoration: underline;
 }
 